body {

font-family: monospace
}


h1,h2 {
 color:

}

h1{
 color: black;
 font-size:56px;
 font-family:sans-serif;

}

h2{ 

  color:navy;
   font-size:25;
   font-family:sans-serif



}
P1,P2{ 
font-size:15px;
font-family:monospace

.alpha-text {
     color:fuchsia;
}
    
